<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PagSeguro Cancelamento de Assinatura</title>
</head>
<body>
<form method="post">
  {% csrf_token %}
  <p>Você tem certeza que deseja cancelar a assinatura "{{ object }}"?</p>
  <p><a href="{% url "pagseguro:demo" %}" role="button">Cancelar</a> <input type="submit" value="Confirmar" role="button"/></p>
</form>
</body>
</html>
