<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PagSeguro Demo</title>
</head>
<body>
<a href="{% url 'home' %}">Voltar</a>
<br>
<br>
<b>Pagamento com Lightbox</b>
{% include "pagseguro/button/lightbox/payment.html" %}
<br>
<b>Pagamento com redirecionamento</b>
{% include "pagseguro/button/default/payment.html" %}
<br>
<b>Assinatura de recorrência com redirecionamento</b>
{% include "pagseguro/button/default/pre-approval.html" %}
<br>
<b>Buscar informações de transação</b>
<form action="" method="get">
  <input type="text" name="transaction" placeholder="FC309EF446FA42118B4F8413D56F56E8" style="height: 24px; width: 256px;">
  <button type="submit" style="height: 28px;">Buscar</button>
</form>
{% if transaction %}
  <h5>Transação Encontrada:</h5> {{ transaction.code }}
{% endif %}
<br>
<b>Cancelamento de assinatura</b>
{% if messages %}
  <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<a href="{% url 'pagseguro:cancelar' subscription_pk %}">Cancelar</a>
</body>
</html>
