<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thank You!</title>
</head>
<body>
<a href="{% url "home" %}">Voltar</a>
<br>
<br>
{% if transaction %}
  Obrigado pela compra!
  <br>
  {{ transaction }}
{% else %}
  Ops! Compra não encontrada...
{% endif %}
</body>
</html>
