<form action="https://{% if is_sandbox %}sandbox.{% endif %}pagseguro.uol.com.br/checkout/v2/payment.html" method="post">
  <input type="hidden" name="code" value="{{ payment_code|safe }}"/>
  <input type="hidden" name="iot" value="button"/>
  <input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/205x30-pagar.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!"/>
</form>
