<!-- Recorrência não tem acesso em sandbox -->
<form action="https://pagseguro.uol.com.br/pre-approvals/request.html" method="post">
  <input type="hidden" name="code" value="{{ pre_approval_code|safe }}"/>
  <input type="hidden" name="iot" value="button"/>
  <input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/assinaturas/205x30-contratar.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!"/>
</form>
