<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Samples</title>
</head>
<body>
<h3>Samples de Plataformas de Pagamento</h3>
<ul>
  <li><a href="{% url "pagseguro:demo" %}">PagSeguro</a></li>
</ul>
</body>
</html>
