{% if is_sandbox %}
  <script type="text/javascript" src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
{% else %}
  <script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
{% endif %}
<script>
  const TRANSACTION_PARAMETER = "{{ transaction_parameter|default:"transaction" }}";  // Pra trocar o nome do parâmetro da transação use a variável "transaction_parameter"
  function PagSeguroLightboxWrapper(code) {
    PagSeguroLightbox({
          code: code
        },
        {
          success: function (transactionCode) {
            window.location.href = "?" + TRANSACTION_PARAMETER + "=" + transactionCode;
          },
          abort: function () {
            // TODO: Fazer algo quando cancela o pagamento?
          }
        }
    )
  }
</script>
<form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post" onsubmit="PagSeguroLightboxWrapper('{{ payment_code|safe }}'); return false;">
  <input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/205x30-pagar.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!"/>
</form>
